@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Josefin+Sans:wght@100&family=League+Gothic&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,800;1,900&family=Red+Hat+Display:wght@500&family=Trispace:wght@300&display=swap');

*{
    font-family: 'Red Hat Display',
            sans-serif;
}
.homeInfo>small{
    font-family: 'Poppins',
        sans-serif;
        font-size: 1rem;
}

.viewJobs{
    font-size: 1rem;
    text-decoration: underline red;
    cursor: pointer;
}
.homeInfo>h1{
    font-family: 'Red Hat Display',
        sans-serif;
    font-size: 1cm;
}
.homeInfo>h1>a {
    font-family: fantasy;
    font-size: 1.5cm;
}
.homeContent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 5vh 0;
    gap: 10vw;
}

.talent{
    background-color: ghostwhite;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.talentIn{
    background-color:#d62727;
    /* margin-bottom: -20vh; */
    width: 90%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    
}

.mainSupCom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh 0 ;
    width: 100%;
}

.mainSupCom>h1{
    font-family: 'Red Hat Display',
            sans-serif;
            font-weight: 900;
}


.supComContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7vw;
    padding-top: 5vh;
    width: 90%;
}

.supCom{
    height: 10vh;
}

.tasks{
    display: flex;
    gap: 2vw;
    margin-top: 10vh;
    
}

.tasknum{
    display: flex;
    flex-direction: column;
   
    gap: 16vh;
}

.tasknum>div{
    background-color: red;
    width: 1.7vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainTask{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    
}

.taskInfo{
    display: flex;
    flex-direction: column;
    gap: 6vh;
    width: 40vw;
}

.taskInfo>div>h1{
    font-family: 'Red Hat Display',
            sans-serif;
    font-family: Impact,
        fantasy;
    font-size: 0.7cm;
}



.taskInfo>div>small{
    font-family: 'Red Hat Display',
            sans-serif;
}

.bussinessWoman>img{
    height: 79vh;
    padding-bottom: 14.5vh;
}

.talentInfo{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 50vw;
}

.talentInfo>h3{
    font-family: 'Red Hat Display',
            sans-serif;
            /* font-size: 5cm; */
            font-weight: 900;
}

.talentInfo>a{
    font-family: fantasy;
    font-size: 2cm;
}

.talentInfo>button{
    background-color: white;
    color: red;
    border-radius: 0.5rem;
    width: 10vw;
    height: 5vh;
    border: none;
    font-family: 'Red Hat Display',
            sans-serif;
}

/* .homeImg{
    width: 100%;
    margin-top: 10vh;
} */
.homeImg>img{
    height: 80vh;
}

.availableJobs{
    box-shadow: 0 1px 0 rgb(8, 8, 8),
            0 0 8px rgb(8, 8, 8);
    width: 15vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.homeInfo{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    gap: 5vh;
    width: 30vw;
    /* padding-top: 15vh; */
    /* font-family: 'Inspiration', cursive;
        font-family: 'League Gothic', sans-serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'Red Hat Display', sans-serif;
        font-family: 'Trispace', sans-serif; */
}






.homeJobs{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-bottom: 5vh;
}

.homeInfo>button{
    border: none;
    background-color: #d62727;
    color: white;
    width: 13vw;
    height: 7vh;
    border-radius: 30rem;
}

.homeContainer{
    /* max-width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(24, 23, 23);
    color: white;
    width: 1350px;
}


.homeDataContainer{
    display: flex;
    flex-wrap: wrap;
    width: 87vw;
    gap: 2vw;
}

.topSearch{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(24, 23, 23); */
    margin: 5vw 0;
    width: 100%;
    
    height: 60vh;
}

.topSearch>h2{
font-family: 'Red Hat Display',
        sans-serif;
    font-weight: 500;

}

.topSearch>div>h1{
    font-weight: 600;
}

.dreamJob{
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

.dreamJob>button{
    background-color: rgb(207, 13, 13);
    color: white;
    border: none;
    width: 10vw;
    height: 6vh;
border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.dreamJob>input{
    width: 40vw;
    height: 6vh;
    border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border: none;
}


.search{
    border-style: solid;
    width: 6vw;
    height: 4vh;
    border-radius: 2rem;
    border-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
}

.search:hover{
    background-color: red;
    cursor: pointer;
}

.search>h5{
    font-size: 0.6rem;
}

.sData{
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: center;
    align-items: center;
}

.hrr{
    width: 90vw;
    background-color: white;
}

.hrrt{
    width: 90vw;
        background-color: black;
}

.hrcont{
    background-color: ghostwhite;
    width: 100%;
}

.stepsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    padding-top: 5vh;
    width: 80%;
}

.stepsImg>img{
    width: 30vw;
    height: 50vh;
}

.steps{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.getJob{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 5vh 0; */
    background-color: rgb(24, 23, 23);
   
    width: 100%;
    padding-top: 10vh;
}

.getJob>h1{
    font-weight: 900;
    font-family: 'Red Hat Display',
            sans-serif;
}

.getJob>h5{
    font-family: 'Red Hat Display',
            sans-serif;
}

.show{
    cursor: pointer;
}

.choseContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    box-shadow: 0 1px 0 rgb(8, 8, 8),
            0 0 8px rgb(8, 8, 8);
    border-radius: 0.5rem;
    height: 25vh;
}

.choseConIn{
    width: 20vw;
}

.choseMainContainer{
    display: flex;
    gap: 10vh;
}

.chooseUs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    margin: 5vh 0;
}

.avaJobsData{
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    gap: 3vw;
}

.availableJobsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}

.faqContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    width: 90%;
    margin-top: 15vh;
}
.faq{
    display: flex;
    gap: 20vw;
    justify-content: center;
}

.faqInfo{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.faqInfoone{
    padding-bottom: 5vh;
font-family: 'Red Hat Display',
        sans-serif;
   
}





.faqDesc{
    width: 30vw;
}

button:hover{
    cursor: pointer;
}

.homeCom{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 980px) {
    .homeContent {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .homeInfo{
        width: 80%;
        justify-content: center;
        align-items: center;
    }
        .homeInfo>h1{
            font-size: 50px;
            font-family: fantasy;
        }
        .homeInfo>small{
            font-size: 30px;
        }
                .homeInfo>button{
                    width: 90%;
                }
                .mainTask{
                    display: flex;
                    flex-direction: column;
                    padding-left: 30vw;
                
                }
                .tasknum{
                    gap: 22vh;
                }
                .taskInfo{
                    width: 80%;
                    
                }
                .taskInfo>div>h1{
                    font-size: 35px;
                }
                .taskInfo>div>small{
                    font-size: 25px;
                    
                }
                .faqInfoone>small{
                    font-size: 25px ;
                }
                .faqInfoone>h2{
                    font-size: 35px;
                }
                .faqInfo>div>h6{
                    font-size: 25px;
                }
                .faqDesc{
                    font-size: 25px;
                    width: 100%;
                }
                .talentInfo{
                    width: 50%;
                }
                .talentInfo>h3{
                    font-size: 35px;
                                }
                .talentInfo>button{
                    width: 30%;
                    font-size: 20px;
                }
                .search{
                    width: 10%;
                }
                .search>h5{
                    font-size: 18px;
                }
                .sData{
                    width: 80%;
                }
                                .supComContainer{
                                    width: 80%;
                                }
                                                                .supCom{
                                                                    height: 8vh;
                                                                }

                
                
}
