@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Josefin+Sans:wght@100&family=League+Gothic&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,800;1,900&family=Red+Hat+Display:wght@500&family=Trispace:wght@300&display=swap');

*{
    font-family: 'Red Hat Display',
            sans-serif;
}
.homeInfo>small{
    font-family: 'Poppins',
        sans-serif;
        font-size: 1.2rem;
        line-height: 4vh;
        /* font-weight: 500; */
}

.viewJobs{
    font-size: 1rem;
    /* text-decoration: underline red; */
    cursor: pointer;
}

.viewJobs>h6{
    border-bottom: 1px red;
    border-bottom-style: solid ;
    padding-bottom: 2vh;
}

.homeInfo {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    gap: 5vh;
    width: 39vw;
    /* padding-top: 15vh; */
    /* font-family: 'Inspiration', cursive;
        font-family: 'League Gothic', sans-serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'Red Hat Display', sans-serif;
        font-family: 'Trispace', sans-serif; */
}
.homeInfo>h1{
    /* font-family: 'Red Hat Display',
        sans-serif; */
    font-size: 3rem;
   
}


.homeInfo>h1>a {
    /* font-family: fantasy; */
    font-size: 4rem;
    font-weight: 900;
}
.homeContent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 5vh 0;
    gap: 10vw;
}

.talent{
    background-color: ghostwhite;
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.talentIn{
    background-color:rgb(236, 27, 52);
    /* margin-bottom: -20vh; */
    width: 90%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    
}

.mainSupCom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh 0 ;
    width: 90%;
}

.mainSupCom>h1{
    /* font-family: 'Red Hat Display',
            sans-serif; */
            font-size: 3rem;
            font-weight: 900;
}


.supComContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7vw;
    padding-top: 5vh;
    width: 90%;
    overflow:scroll;

}

/* Hide scrollbar for Chrome, Safari and Opera */
.supComContainer::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.supComContainer {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.supCom{
    height: 8vh;
    /* overflow:scroll; */
    /* margin-bottom: 3vh; */
}

.tasks{
    display: flex;
    gap: 4vw;
    margin-top: 10vh;
    width: 100%;
    justify-content: center;
    
}

.tasknum{
    /* display: flex;
    flex-direction: column; */
background-color: rgb(236, 27, 52);
    width: 8vw;
    height: 4.5vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 16vh; */
}

/* .tasknum>div{
    background-color: rgb(236, 27, 52);
    width: 1.7vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.tasknum{
   
}

.mainTask{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13vw;
    /* width: 90%; */
}

.taskInfoIn{
    display: flex;
    gap: 2vw;
}

.taskDet>h1{
    font-size: 1.5rem;
        font-weight: 700;
}
.taskDet>small{
    color: gainsboro;
    
}
.taskInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8vh;
    width: 50% ;
}

.taskInfo>div>h1{
    /* font-family: 'Red Hat Display',
            sans-serif;
    font-family: Impact,
        fantasy; */
    font-size: 1.5rem;
    font-weight: 700;
}

.careerTop>h5{
    font-size: 1.3rem;
    font-weight: 500;
}

.careerTipsContainer{
    margin-top: 5vh;
}

.careerInfo{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.careerInfo>div>h6{
    font-size: 1rem;
    font-weight: 600;
}

.careerInfo>div>small{
    color: gainsboro;
}

.careerTipsContainer>div>h1{
    font-size: 3.5rem;
    font-weight: 800;
}

.careerBlogs{
    display: flex;
    gap: 10vh;
    margin-top: 5vh;
}

.careerTop{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 5vh; */
}

.careerBlogs>div>img{
    height: 50vh;
    /* height: auto; */
    width: 25vw;
    border-radius: 1rem;
}

/* .careerTop>h5>a{
    margin-left: 50vh;
} */

.careerTipsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.taskInfo>div>small{
    /* font-family: 'Red Hat Display',
            sans-serif; */
    font-family:Arial, Helvetica, sans-serif;
    color: gainsboro;
}

.bussinessWoman>img{
    height: 79vh;
    padding-bottom: 14.5vh;
}

.talentInfo{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 50vw;
}

.talentInfo>h3{
    /* font-family: 'Red Hat Display',
            sans-serif; */
            /* font-size: 5cm; */
            font-weight: 900;
}

.talentInfo>a{
    /* font-family: fantasy; */
    font-size: 3.5rem;
    font-weight: 700;
}

.talentInfo>button{
    background-color: white;
    color:rgb(236, 27, 52);
    border-radius: 2rem;
    width: 13vw;
    height: 8vh;
    border: none;
    font-family: 'Red Hat Display',
            sans-serif;
            font-size: 1rem;
            font-weight: 900;
}

/* .homeImg{
    width: 90%;
    margin-top: 10vh;
} */
.homeImg>img{
    height: 75vh;
}

.availableJobs{
    /* box-shadow: 0 1px 0 rgb(8, 8, 8),
            0 0 8px rgb(8, 8, 8); */
    width: 20vw;
    height: 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.availableJobs>p{
    font-size: 0.8rem;
    color: gainsboro;
}

.availableJobs:hover{
    background-color: rgb(236, 27, 52);
    cursor: pointer;
}








.homeJobs{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-bottom: 5vh;
}

.homeInfo>button{
    border: none;
    background-color: #d62727;
    color: white;
    width: 13vw;
    height: 7vh;
    border-radius: 30rem;
    /* font-weight: 900; */
    font-size: 1rem;
}

.homeContainer{
    /* max-width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(24, 23, 23);
    color: white;
    /* width: 1350px; */
    /* width: 100%; */
    width: 100%;
}

.mainn{
    background-color: rgb(24, 23, 23);
}


.homeDataContainer{
    display: flex;
    flex-wrap: wrap;
    width: 87vw;
    gap: 2vw;
}

.topSearch{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(24, 23, 23); */
    margin: 5vw 0;
    width: 90%;
    
    /* height: 60vh; */
}

.topSearch>h2{
font-family: 'Red Hat Display',
        sans-serif;
    font-weight: 500;

}

.topSearch>div>h1{
    font-weight: 600;
    font-size: 3rem;
}

.dreamJob{
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
}

.dreamJob>button{
    background-color: rgb(207, 13, 13);
    color: white;
    border: none;
    width: 10vw;
    height: 6vh;
border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.dreamJob>input{
    width: 40vw;
    height: 6vh;
    border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border: none;
}


.search{
    border-style: solid;
    width: 6vw;
    height: 4vh;
    border-radius: 2rem;
    border-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
}

.search:hover{
    background-color: red;
    cursor: pointer;
}

.search>h5{
    font-size: 0.6rem;
}

.sData{
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.hrr{
    width: 90vw;
    background-color: white;
}

.hrrt{
    width: 90vw;
        background-color: black;
}

.hrcont{
    background-color: ghostwhite;
    width: 100%;
}

.stepsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    padding-top: 5vh;
    width: 80%;
}

.stepsImg>img{
    width: 30vw;
    height: 50vh;
}

.steps{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.getJob{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 5vh 0; */
    background-color: rgb(24, 23, 23);
   
    width: 90%;
    padding-top: 5vh;
}

.getJob>h1{
    font-size: 3.8rem;
    font-weight: 500;
    /* font-weight: 900;
    font-family: 'Red Hat Display',
            sans-serif; */
}

.getJob>h5{
    font-family: 'Red Hat Display',
            sans-serif;
}

.show{
    cursor: pointer;
}

.choseContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    box-shadow: 0 1px 0 rgb(8, 8, 8),
            0 0 8px rgb(8, 8, 8);
    border-radius: 0.5rem;
    height: 25vh;
}

.choseConIn{
    width: 20vw;
}

.choseMainContainer{
    display: flex;
    gap: 10vh;
}

.chooseUs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    margin: 5vh 0;
    width: 90%;
}

.avaJobsData{
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    gap: 3vw;
}

.availableJobsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}

.faqContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    width: 90%;
    margin-top: 15vh;
}
.faq{
    display: flex;
    gap: 20vw;
    justify-content: center;
}

.faqInfo{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.faqInfoone{
    padding-bottom: 5vh;
font-family: 'Red Hat Display',
        sans-serif;
   
}





.faqDesc{
    width: 30vw;
}

button:hover{
    cursor: pointer;
}

.homeCom{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.careerViewAll{
    margin-top: 5vh;
    cursor: pointer;
    text-decoration: underline rgb(207, 13, 13);
}

@media only screen and (max-width: 980px) {
    .homeContainer{
        /* width: 85rem; */
    }
    .homeContent {
        display: flex;
        flex-direction: column;
        /* width: 100%; */
    }
    .homeInfo{
        width: 80%;
        justify-content: center;
        align-items: center;
    }
        .homeInfo>h1{
            font-size: 1.5rem;
            font-weight: 600;
            /* font-family: fantasy; */
        }
                .homeInfo>h1>a{
                    font-size: 1.5rem;
                    font-weight: 600;
                }
        .homeInfo>small{
            font-size: 1rem;
        }
                .homeInfo>button{
                    width: 100%;
                }
                .mainTask{
                    display: flex;
                    flex-direction: column;
                    gap: 5vw;
                    margin-top: -5vh;
                    /* gap: 0; */
                    /* padding-left: 30vw;
                    width: 100%; */
                }
                .mobTask{
                    margin-top: -0.2vh;
                }
                .tasknum{
                    /* gap: 28vh; */
                    display: none;
                }
                .taskInfo{
                    width: 80%;
                    gap: 3vh;
                }
                .taskInfo>div>h1{
                    font-size: 1.2rem;
                }
                .taskInfo>div>small{
                    /* font-size: 25px; */
                    
                }
                .faq{
                    padding-right: 20vw;
                    flex-direction: column;
                    margin-top: -25vh;
                    
                }

                .faq>div>img{
                    display: none;
                }
                .faqInfoone>small{
                    /* font-size: 25px ; */
                }
                .faqInfoone>h2{
                    /* font-size: 35px; */
                }
                .faqInfo>div>h6{
                    /* font-size: 25px; */
                }
                .faqDesc{
                    /* font-size: 25px; */
                    /* width: 100%; */
                }
                .talentInfo{
                    justify-content: center;
                    align-items: center;
                    gap: 3vh;
                    width: 90%;
                }
                .talentInfo>h3{
                    /* font-size: 20px; */
                                }
                                .talentInfo>a{
                                    font-size: 35px;
                                }
                .talentInfo>button{
                    width: 90%;
                    /* font-size: 20px; */
                }
                .search{
                    width: 25%;
                }
                .search>h5{
                    /* font-size: 18px; */
                }
                
                                .supComContainer{
                                    width: 80%;
                                }
                                
                                                                .supCom{
                                                                    height: 7vh;
                                                                    margin-bottom: 5vh;
                                                                }

            .bussinessWoman>img{
                display: none;
            }
                        .homeImg>img{
                            height: 40vh;
                        }
                        .getJob{
                            padding-top: 0vh;
                        }
                        .getJob>h1{
                            font-size: 1.8rem;
                            font-weight: 800;
                        }
                                                .getJob>h5 {
                                                    font-size: 1rem;
                                                }
                .mainSupCom>h1{
                    font-size: 1.1rem;
                }
                .topSearch>div>h1{
                    font-size: 1.3rem;
                    
                }
                .sData{
                    width: 80%;
                    gap: 5vh
                }
                .availableJobs{
                    box-shadow: 0 1px 0 rgb(8, 8, 8),
                            0 0 8px rgb(8, 8, 8);
                    width: 30vw ;
                }
                .availableJobs>h5{
                    font-size: 0.7rem;
                }
                                .availableJobs>p{
                                    font-size: 0.5rem;
                                }
                .tasks{
                    flex-direction: column;
                    gap: 3vh;
                }
                .careerBlogs{
                    flex-direction: column;
                }
                /* .careerInfo>img{
                    width: 100vw;
                    height: auto;
                } */
                                .careerBlogs>div>img{
                                    width: 100%;
                                }
                                .careerTipsContainer>div>h1{
                                    font-size: 2rem;
                                }
}
