/* * {
    font-family: 'Red Hat Display',
        sans-serif;
} */
.jobsMain{
    /* width: 1350px; */
    width: 100%;
    /* background-color: rgb(24, 23, 23);
    color: white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-width: 475px; */
    
   
}

.jobHead{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jobheadSrch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.jobheadSrch>input{
    width: 35vw;
        height: 7vh;
}

.dreamJob>input{
    padding-left: 2vh;
}

.jobheadSrch>button{
    height: 7vh;
    background-color: rgb(207, 13, 13);
    color: white;
    border: none;
}

.indiJobs{
    box-shadow: 0 1px 0 rgb(17 17 26 / 5%),
    0 0 8px rgb(17 17 26 / 10%);
    width: 25vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
    /* justify-content: center ; */
    align-items: center;
    cursor: pointer;
}



.insideJobs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 3vh;
    width: 17vw;
    cursor: pointer;
}

.insideJobs>h4{
    font-weight: 900;
}

.indiJobs:hover{
    background-color: rgb(207, 13, 13);
    color: white;
}

.indiJobDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    margin-top: 10vh;
    flex-wrap: wrap;
    width: 95%;
    margin-bottom: 10vh;
}

.jobBtn{
    background-color: red;
    color: white;
    width: 10vw;
    height: 5vh;
    border: none;
    margin-bottom: 10vh;
    border-radius: 0.5rem;
}

@media only screen and (max-width: 980px) {
    .jobsMain{
        /* width: 50%; */
    }
    .indiJobDetails{
        width: 60%;
    }
    .indiJobs{
        width: 100%;
        font-size: 1rem;
    }

    .insideJobs{
        width: 80%;
    }
    .jobBtn{
        width: 30%;
    }
}
