.bottomBar{
background-color: rgb(236, 27, 52);
    height: 15vh;
    display: flex;
    gap: 50vh;
    justify-content: center;
    align-items: center;
    /* width: 1350px; */
    width: 90%;
}
.mainBottomBar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 27, 52);
}
.bottomLeft{
    display: flex;
    gap: 5vh;
}

.bottomBar>div>h3{
    color: white;
    font-size: 1rem;
}

@media only screen and (max-width: 980px) {
    .bottomBar {
        height: 5vh;
        gap: 1vh;
        /* width: 85rem; */
    }
        .bottomLeft{
            
            gap: 0.5vh;
        }
        .bottomBar>div>h3{
            font-size: 0.5rem ;
        }
}