.bottomBar{
    background-color: crimson;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1350px;
}

.bottomBar>h3{
    color: white;
    font-size: 0.5cm;
}

@media only screen and (max-width: 980px) {
    .bottomBar {
        min-width: 900px;
    }
}