.socialImg>div>img{
    height: 4vh;
}

.socialImg{
    display: flex;
    gap: 3vw;
    cursor: pointer;
}

.topBarInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 32vw;
    width: 90%;
}

.conInfo{
    display: flex;
    gap: 3vw;
    font-size: 0.8rem;
}

.topBarContainer{
    background-color: rgb(236, 27, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 8vh;
    /* width: 1350px; */
    width: 100%;
}

@media only screen and (max-width: 980px) {
    .topBarInfo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1vh;
        /* gap:5vw */
        /* width: 100%; */
    }
    .conInfo{
        font-size: 10px;
    }
    .socialImg>div>img{
        height: 20px;
    }
    /* .conInfo{
        width:30% ;
    } */
}