
.RecruitTop{
    background-color: rgb(24, 23, 23);
        color: white;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            
}

.mainRec{
    width: 100%;
        min-width: 475px;
        height: auto;
}

.recImg{
    width: 90%;
    margin: 5vh 0;
}

.recImg>img{
    width: 85vw;
    height: 60vh;
}

.recruitmentInfo{
    background-color: rgb(31, 28, 28);
        color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5vw;
}

.recruitmentInfoTop{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.recruitmentInfoBottom{
    width: 90%;
    display: flex;
    gap: 5vw;
    margin: 5vh 0;
}

@media only screen and (max-width: 980px) {
    .mainRec{
        min-width: 700px;
    }
}