.dreamJob {
    display: flex;
    gap: 1vw;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.mainDreamJob{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.dreamJob>button {
    background-color: rgb(236, 27, 52);
    color: white;
    border: none;
    width: 10vw;
    height: 6vh;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.dreamJob>input {
    width: 40vw;
    height: 6vh;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    /* border: none; */
    border-style:solid;
    border-color: rgb(24, 23, 23);
    
}

@media only screen and (max-width: 980px){
    .dreamJob>button{
        width: 30%;
    }
        .dreamJob>input{
            /* width: 100%; */
        }
}