.footerContainer{
    display: flex;
    background-color: rgb(17, 17, 17);
    justify-content: center;
    /* padding: 5vh 0; */
    color: white;
    font-size: 0.8rem;
    gap: 15vh;
    align-items: center;
    /* width: 1350px; */
    width: 100%;
    
}


.footerInfo{
    width: 30%;
}

.footerInfo>h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
}

.footerIn{
    width: 90%;
    display: flex;
        background-color: rgb(17, 17, 17);
        /* background-color: white; */
        justify-content: center;
        padding: 5vh 0;
        color: white;
        font-size: 0.8rem;
        gap: 15vh;
        
}

@media only screen and (max-width: 980px) {
    .footerContainer{
        /* width: 85rem; */
        /* font-size: 10px; */
        
    }
        .footerInfo>h5{
            font-size: 1rem;
        }
    .footerInfo{
        width: 90%;
        /* font-size: rem; */
    }

    .footerIn{
        /* font-size: 20px; */
        flex-direction: column;
    }
    .linkMob{
        display: none;
    }
}
